{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Hello world!</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequatur debitis eaque illum in labore molestiae molestias mollitia non possimus praesentium provident, repellat repellendus? Iure libero provident quae quod voluptatem.
        </p>
    </div>
{% endblock %}
